body{
    background-color: rgb(0, 162, 255);
}
main{
    width: 80%;
    margin: 50px auto;
    border: 1% solid blue;
    background-color: white;
    border-radius: 18px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.438)

}
img {
    width: 70%;
    height: 95%;
    margin: 20px auto;
    text-align: center;
    display: block;
    border-radius: 22px;
    
    
}
a{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(15, 146, 221); /* cor de fundo */
    color: white; /* cor do texto */
    text-decoration: none; /* remover sublinhado */
    border-radius: 5px; /* borda arredondada */
    transition: background-color 0.3s; /* transição suave de cor de fundo */
    margin: 30px
    
}